git/src/main/mule/git.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f43d22ea-b992-473f-95c5-04fb372c5b5e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gitFlow" doc:id="0fa29ba5-f364-479a-aa8e-178f65b8a111" >
		<http:listener doc:name="Listener" doc:id="37a53581-d646-4a60-8bf1-c3c454624ef2" config-ref="HTTP_Listener_config" path="/"/>
		<logger level="INFO" doc:name="Logger" doc:id="a031d32d-8a42-4ad4-aea2-d65c00ddcca7" message="#[payload]"/>
	</flow>
</mule>
